Assignment1_for_students/pretrained/*
Assignment1_for_students/text8.zip
Assignment1_for_students/models/*
Assignment1_for_students/score_maxdiff.pl
Assignment1_for_students/checkpoints_cross_entropy/*
*.DS_Store
